---
const { href, ...props } = Astro.props;
---
<div class="nav-links">
  <a href="#">Estereotipos y Realidades</a>
  <a href="#">Efectos del edadismo</a>
  <a href="#">Soluciones y Estrategias</a>
  <a href="#">Recursos</a>
  <a href="#">Contribuye</a>
</div>
